/* LOGIN */
div
{
    padding: 10px 50px;
    font-size: 24px;
}
div label
{
    font-size: 20px;
}
div input
{
    font-size: 16px;
    font-weight: 900;
}

#emaillogin 
{
    width: 200px;
    border: 1px solid #f06;
    border-left: 4px solid #f06;
}
#passwordlogin 
{
    width: 200px;
    border: 1px solid #f06;
    border-left: 4px solid #f06;
}