<section id="cart">
    <div id="checkout">
        <h3>Your Order</h3>
        <h5>Weight Loss Package</h5>
        <h5>$159.99</h5>
        </div>
    <div id="total">
        <p>$159.99</p>
       <form method="POST" action="/cart">
            <input type="submit" value="REVIEW ORDER" class="buttonpink">
       </form>
    </div>
</section>
