<div id="home1">
    <h1> Meals and grocery delivered. </h1>
    <ul id="list1">
        <li>
            <a href="/mealpackages" class="buttonwhite"> View Packages </a>
        </li>
        <li>
            <a href="/mealpackages" class="buttonpink"> Build Your Order </a>
        </li>
    </ul>
</div>
<h1 id="title1"> Order Now and Eat! </h1>
<section id="home2">
    <div class="steps">
        <img src="/img/Pick.gif" alt="Pick" width="200" height="200">
        <h2> Pick </h2>
        <p> 100+ menu of all-natural dishes. </p>
    </div>
    <div class="steps">
        <img src="/img/Heat.gif" alt="Heat" width="200" height="200">
        <h2> Heat </h2>
        <p> Cooked &amp; delivered. </p>
    </div>
    <div class="steps">
        <img src="/img/Eat.gif" alt="Eat" width="200" height="200">
        <h2> Eat </h2>
        <p> Delicious &amp; nutritious. </p>
    </div>
    <div class="steps">
        <img src="/img/Repeat.gif" alt="Repeat" width="200" height="200">
        <h2> Repeat </h2>
        <p> Skip a week or cancel any time. </p>
    </div>
</section>
<div id="choice">
    <h1> Choose Some (Or All) of Our Freshly Cooked Dishes</h1>
    <p>
        You could be chowing down on any of these meals any time you choose - seriously!
    </p>
    <p>
        Order some (or all) of these meals and see why thousands of Canadians stock us in their fridge!
    </p>
</div>
<section id="home3">
    <!-- 1st Row -->
    <div class="meals">
        <img src="/img/Meals/Chicken Teriyaki.jpg" alt="Chicken Teriyaki"><br>
        <a href="#"> Chicken Teriyaki </a>
        <p> $11.95 </p>
    </div>
    <div class="meals">
        <img src="/img/Meals/Butter Chicken.jpg" alt="Butter Chicken"><br>
        <a href="#"> Butter Chicken with Mixed Vegetables </a>
        <p> $11.95 </p>
    </div>
    <div class="meals">
        <img src="/img/Meals/Sundried Tomato.jpg" alt="Sundried Tomato"><br>
        <a href="#"> Sundried Tomato and Basil Pesto Chicken Linguini </a>
        <p> $11.95 </p>
    </div>
    <div class="meals">
        <img src="/img/Meals/Roast Chicken.jpg" alt="Roast Chicken"><br>
        <a href="#"> Roast Chicken and Homemade Pan Gravy </a>
        <p> $11.95 </p>
    </div>
    <!-- 2nd Row -->
    <div class="meals">
        <img src="/img/Meals/Butter Salmon.jpg" alt="Butter Salmon"><br>
        <a href="#"> Garlic Butter Salmon (Contains Dairy) </a>
        <p> $11.95 </p>
    </div>
    <div class="meals">
        <img src="/img/Meals/Beef Gratin.jpg" alt="Beef Gratin"><br>
        <a href="#"> Beef Gratin </a>
        <p> $11.95 </p>
    </div>
    <div class="meals">
        <img src="/img/Meals/Mushroom Chicken.jpg" alt="Mushroom Chicken"><br>
        <a href="#"> Pan Roast Mushroom Chicken </a>
        <p> $11.95 </p>
    </div>
    <div class="meals">
        <img src="/img/Meals/Coconut Curry Shrimp.jpg" alt="Coconut Curry Shrimp"><br>
        <a href="#"> Coconut Curry Shrimp </a>
        <p> $11.95 </p>
    </div>
</section>
<div id="menu">
    <p> Didn't find what you're looking for?</p><br>
    <a href="#" class="buttonpink"> Full Menu </a><br><br>
</div>
<div id="home4">
    <h1> Ready to Eat Healthy? </h1>
     <h3> Try LiveFit today with no commitment. </h3>
     <h3> Skip of cancel anytime. </h3>
</div>