<body>
    <div>
        <br><br>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/mealpackages">Meals </a></li>
            <li class="active">Organic Juice</li>
        </ol>
    </div>
    <section id="build">
        <div class="row">
            <img src="/img/Plans/plan11.jpg" alt="..." class="mealImg">
        </div>
        <div>
            <h3 class="mealName"> Organic Juice Cleanse </h3>
            <h6 class="price">$105.00</h6>
            <p class="desc1">What comes in this package? This package comes with 7 of our best selling protein-packed
                meals and 14 of our best selling prebiotic soups! We designed this package to deliver rejuvenating
                benefits such as improved gut health and weight loss! <br>
                While PREBIOTICS and PROBIOTICS sound similar, they are very different and have different roles in the
                digestive system (or gut).</p>
            <p class="desc2">✓ This fermentation process feeds beneficial bacteria colonies (including probiotic
                bacteria) and helps to increase the number of desirable bacteria in our digestive systems (also called
                the gut) that are associated with better health and reduced disease risk.</p>
            <p class="desc3">Researchers have found that prebiotics are helpful in increasing the helpful bacteria
                already in the gut that reduce disease risk and improve general well being. [Florowska 2016] Prebiotic
                fiber is not as fragile as probiotic bacteria because it is not affected by heat, stomach acid, or time.
                Nor does the fermentation process differ depending on the individual.</p>
            <p class="desc4">Increasing prebiotic fiber intake supports immunity, digestive health, bone density,
                regularity, weight management, and brain health.</p>
            <p class="desc5">**Exercise and proper diet are necessary to achieve and maintain
                weight loss. Results vary depending upon starting point, goals, and effort.**</p><br><br>
            <form method="POST" action="/cart" class="options">
                <p class="numMeals">How many meals did you want in your package?</p>
                <select name="numMeals" id="numMeals">
                    <option value="21">One week - 21</option>
                    <option value="42">Two weeks - 42</option>
                </select><br><br>

                <input type="submit" value="ADD TO ORDER" class="buttonpink">
            </form>
        </div>
    </section>
</body>